@{
    ViewData["Title"] = "Groups";
}
<h1 class="is-size-3 heading">Groups</h1>
@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <span class="help is-danger">@ViewBag.ErrorMessage</span>
}
<div class="content">
    <ul class="bullet-list">
        @if (ViewBag.Groups.Count == 0)
        {
            <li>No Groups Added Yet</li>
        }
        @foreach (var group in ViewBag.Groups)
        {
            <li>
                @group.Name
                <a class="button is-info is-small" asp-action="edit" asp-route-id="@group.Id">Edit</a>
                <a class="button is-danger is-small" asp-action="delete" asp-route-id="@group.Id"
                   onclick="return confirm('Are you sure you want to delete @group.Name?')">Delete</a>

            </li>
        }
    </ul>
</div>

<a asp-controller="Groups" asp-action="Add" class="button is-primary">Add Group</a>

